<div class="conatiner">
<header>
    <div class="row middle-xs">
      <!-- col-xs-offset-3 col-xs-9 -->
      <div class="col-xs-6">
        <div class="logoWrap">
          <img src="../assets/images/Momentum-logo.svg" alt="">
          MOMENTOM
        </div>
      </div>
      <div class="col-xs-6">
        <div class="headerRight">
          <h3 class="userName"> Welcome Name</h3>
          <ul class="actionIcons">
            <li>
              <mat-icon aria-hidden="false">settings</mat-icon>
            </li>
            <li>
              <mat-icon aria-hidden="false">perm_identity</mat-icon>
            </li>
          </ul>
        </div>
      </div>
    </div>

</header>
<div class="row">
  <div class="col-sm-12 flexi">
  <div class="col-auto nav">
    <nav [ngClass]="{'open': navOpen}">
      <ul class="leftNavigation">
        <li class="navHeader">
          <a routerLink (click)="toggleNav()">
            <span class="material-icons icon">keyboard_arrow_right</span>
          </a>
        </li>
        <li>
          <a routerLink>
            <mat-icon class="icon" aria-hidden="false">dashboard</mat-icon>
            <span class="navText">Dashboard</span>
          </a>
        </li>
        <li>
          <a routerLink>
            <mat-icon class="icon" aria-hidden="false">gavel</mat-icon>
            <span class="navText">Menu Item 1</span>
          </a>
        </li>
        <li>
          <a routerLink>
            <mat-icon class="icon" aria-hidden="false">grading</mat-icon>
            <span class="navText">Menu Item 2</span>
          </a>
        </li>
        <li>
          <a routerLink>
            <mat-icon class="icon" aria-hidden="false">leaderboard</mat-icon>
            <span class="navText">Menu Item 3</span>
          </a>
        </li>
        <li>
          <a routerLink>
            
            <mat-icon class="icon" aria-hidden="false">help_outline</mat-icon>
            <span class="navText">Help</span>
          </a>
        </li>
        <li>
          <a routerLink>
            <mat-icon class="icon" aria-hidden="false">content_paste</mat-icon>
            <span class="navText">Reports</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-auto">
    <router-outlet></router-outlet>
  </div>
  </div>
</div>




</div>